@{
  Layout = "_Layout";
}

@model Ratstaurant.Models.Cuisine

<h2>Let's get rid of this cuisine</h2>

@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
@using (Html.BeginForm())
{
    <input type="submit" value="eliminate" />
}
@Html.ActionLink("Back to List", "Index")