a, u {
  text-decoration: none!important;
}

pre
{
  border: 0;
  font-size: 9px;
  background-color: transparent;
}

#search-well
{
  width: 23%
}

#rat-king
{
  background-color: black;
  color: white;
}